<!doctype html>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <script>alert('This place does not exist');</script>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<head>
    <title>Transporteasy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="static/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/assets/css/main.css">
    <link rel="stylesheet" href="static/assets/css/demo.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/assets/img/favicon.png">
</head>


<body>
    <!-- WRAPPER -->
    <div id="wrapper">

        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
            </div>
            <div class="container-fluid">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="lnr lnr-enter"></i> <span>Something came up ? You want to report an incident ? You're in the right place. Tell us what happened...</span> <i
                                    class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/error">Support services</a></li>
                                <li><a href="/error">Q&As</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->

        <!-- MENU -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/" class=""><i class="lnr lnr-home"></i> <span>Home</span></a></li>
                        <li><a href="/route" class=""><i class="lnr lnr-map"></i> <span>Find my route</span></a></li>                        
                        <li><a href="/profile" class=""><i class="lnr lnr-user"></i> <span>My profile</span></a></li>
                        <li><a href="/rating" class=""><i class="lnr lnr-star"></i> <span>Rate my trip</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END MENU -->
        
        
        <center>
        <div class="main">		
            <div class="main-content">
            <div class="container">
                <div class="row">
                    <center>
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card-body">
                            <div style="width:450px; margin:0 auto;">
                            <div class="card-body">
                                <center>
                                <h2 class="card-title text-center">Explain us your problem</h2>
                                <br>
                                <br>
                                <form class="form-signup" action="{{ url_for('report') }}" method="post">
                                    <div class="form-label-group">
                                        <label for="Report">Where did you encounter a problem ?</label>
                                        <input id="place" class="form-control" name="place" placeholder="Metro station Wagner Milano" required autofocus>
                                    </div>
                                    <br>
                                    <div class="form-label-group">
                                        <label for="Report">What kind of problem is it ?</label>                                    
                                        <select id="sort" class="form-control" name="sort" required autofocus>
                                        <option value="">--Please choose an option--</option>
                                        <option value="Accident">Accident</option>
                                        <option value="Abandoned bag">Abandoned bag</option>
                                        <option value="Breakdown">Breakdown</option>
                                        <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-label-group">
                                        <label for="Report">Report</label>        
                                        <input id="report" class="form-control" name="report" placeholder="Type here..."
                                            required autofocus>
                                    </div>            
                                    <br>
                                    <br>
                                    <button class="btn btn-lg btn-primary btn-block" id="submit" name="submit" value="validate "
                                        type="submit">Submit</button>
                                    <hr class="my-4">            
                                </form>
                                </center>
                            </div>
                        </div>
                        </div>
                    </div>
                    </center>
                </div>
            </div>
            </div>
            </div>
        </center>
    </div>
</body>
<script src="{{source}}"></script>

<script>const options_ac = {
        componentRestrictions: { country: "it" },
        types: ["geocode"],
    };

    var input1 = document.getElementById("place");
    var autocomplete1 = new google.maps.places.Autocomplete(input1, options_ac);

</script>