<!doctype html>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <script>alert('+50 karma points ');</script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<head>
    <title>Transporteasy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="static/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/assets/css/main.css">
    <link rel="stylesheet" href="static/assets/css/demo.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/assets/img/favicon.png">
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">

        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">

            </div>
            <div class="container-fluid">

                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="lnr lnr-question-circle"></i> <span>Help</span> <i
                                    class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/error">Support services</a></li>
                                <li><a href="/error">Q&As</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->


        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/" class=""><i class="lnr lnr-home"></i> <span>Home</span></a></li>
                        <li><a href="/report" class=""><i class="lnr lnr-warning"></i> <span>Create a report</span></a>
                        </li>
                        <li><a href="/profile" class=""><i class="lnr lnr-user"></i> <span>My profile</span></a></li>
                        <li><a href="/rating" class=""><i class="lnr lnr-star"></i> <span>Rate my trip</span></a></li>

                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->


        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
<iframe width="100%" height="92%" frameborder="0" style="border:0;position: absolute ;bottom: 0 ;right: 0"
    src="{{source}}" allowfullscreen>
</iframe>


            </div>
        </div>
        <!-- END MAIN -->
    </div>
    <!-- END WRAPPER -->


    <!-- Javascript -->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="static/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="static/assets/scripts/klorofil-common.js"></script>

</body>

</html>